<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               <a class="navbar-brand" href="/list/">SODO</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/list">Lista</a></li>
              <li><a href="/pracownicy">Pracowniy</a></li>
              <li><a href="/obiekty">Obiekty</a></li>
              <li><a href="/wnioski">Wnioski</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dodaj <span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="/create_app">Dodaj wniosek</a></li>
                  <li><a href="/create_user">Dodaj użytkownika</a></li>
                  <li><a href="/create_obj">Dodaj obiekt</a></li>
                </ul>
              </li>
              <li><a href="/search">Wyszukaj</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/user_account/">Twoje konto</a></li>
              <li><a href="/acc/logout/">Wyloguj</a></li>
            </ul>
        </div>
      </nav>