{% extends "wnioski/base_site/base_site.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

    <div class="row">
        <h3 class="left">Jednostki organizacyjne</h3>
        <span class="right">
            <a href="{% url 'labi_jednostka_create' %}" class="btn btn-default">Dodaj jednostkę</a>
        </span>
    </div>
    <div class="row">
        <form method="post" action="">{% csrf_token %}
            <div class="col-md-2">
                <input type="text" name="search" placeholder="Szukaj po nazwie" class="form-control">
            </div>
            <div class="col-md-1">  
                <input type="submit" value="Szukaj" class="btn">
            </div>
            {% if search %}
                <div class="col-md-3">
                    <p>Wyszukiwana fraza: {{ search }}</p>
                </div>
            {% endif %}
        </form>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Jednostka nadrzędna</th>
                    <th>Czy posiada LABI</th>
                </tr>
            </thead>
            <tbody>
                {% for jednostka in jednostki %}
                    <tr class="clickable-row" data-href="{% url 'labi_jednostka_detail' jednostka.id %}">
                        <td>{{ jednostka.id }}</td>
                        <td>{{ jednostka.nazwa }}</td>
                        <td>
                            {% if jednostka.parent %}
                                {{ jednostka.parent.nazwa }}
                            {% else %}
                                Brak
                            {% endif %}
                        </td>
                        <td>{% if jednostka.czy_labi %}Tak{% else %}Nie{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if jednostki.has_previous %}
                    <a href="?page={{ jednostki.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ jednostki.number }} of {{ jednostki.paginator.num_pages }}.
                </span>
                {% if jednostki.has_next %}
                    <a href="?page={{ jednostki.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

{% endblock %}