{% extends "wnioski/base/base.html" %}

{% block title %}Dodaj wniosek{% endblock %}

{% block content %}

<div class="container col-md-offset-2">
	<div class="row">
		<div class="row">
			<h3>Dodaj wniosek</h3>
		</div>
	</div>

    <hr>

    <div class="row">
	    <form action="/create_app/" method="post">
	        {% csrf_token %}
	        <div class="table">
	        	<table class="input-table">{{form}}</table>
	        </div>
	        <input type="submit" value="dodaj" class="btn btn-primary">
	    </form>
	</div>

	<div class="row">
	    <p>{{ thanks }}</p>
	</div>

</div>
   
{% endblock %}