{% extends 'user_app/base_site/base_site.html' %}

{% block title %}
    Zmiana hasła
{% endblock %}

{% block content %}

	<div class="row center">
        <form method="post" action="">{% csrf_token %}
            <label>Podaj nowe hasło:</label>
            <input type="password" name="new_password_1"><br>
            <label>Potwierdź nowe hasło:</label>
            <input type="password" name="new_password_2"><br><br>
            <input type="submit" value="Dalej" class="btn btn-primary">
        </form>
    </div>

{% endblock %}