{% extends 'user_app/base_site/base_site.html' %}

{% block content %}

    {% if historia %}
        <div class="row">
            <h2 class="center">Wnioski przyjęte:</h2>
        </div>

        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Wniosek</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Obiekt</th>
                    <th scope="col">Data</th>
                </tr>
                </thead>
                <tbody>
                {% for wniosek in historia %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ wniosek }}</td>
                        <td>{{ wniosek.wniosek.typ }}</td>
                        <td>{{ wniosek.wniosek.obiekt }}</td>
                        <td>{{ wniosek.data }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="row">
            <h2 class="center">Brak przyjętych wniosków</h2>
        </div>
    {% endif %}

{% endblock %}