{% extends 'user_app/base_site/base_site.html' %}
{% load bootstrap_pagination %}

{% block content %}

    <div class="row">
        <h2 class="center">Dostępne obiekty:</h2>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 center">
            <form method="post" action="">{% csrf_token %}
                <input type="text" name="nazwa_filter" {% if nazwa_filter %}value="{{ nazwa_filter }}"{% endif %} placeholder="Nazwa obiektu">
                <input type="submit" value="Filtruj">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% bootstrap_pager obiekty %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Lp.</th>
                        <th scope="col">Nazwa obiektu</th>
                        <th scope="col">Uprawnienia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obiekt in obiekty %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'user_obiekt_detail' obiekt.pk %}">{{ obiekt.nazwa }}</a></td>
                            <td>
                                {% for p in pou %}
                                    {% if p.id_obiektu == obiekt %}
                                        {{ p.get_uprawnienia_display }}<br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="center">
                {% bootstrap_paginate obiekty range=10 show_prev_next="true" show_first_last="true" centered="true" %}
            </div>
        </div>
    </div>


{% endblock %}