{% extends 'user_app/base_site/base_site.html' %}

{% block title %}
    Profil użytkownika
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">{{ pracownik }} profil</div>
                <div class="panel-body">
                    <p><strong>Imię i nazwisko:</strong> {{ pracownik }}</p>
                    <p><strong>E-mail:</strong> {{ pracownik.email }}</p>
                    <p><strong>Rodzaj:</strong> {{ pracownik.rodzaj }}</p>
                    <p><strong>Jednostka org:</strong> {{ pracownik.jedn_org.opis }}</p>
                    <p><strong>Numer AX:</strong> {{ pracownik.numer_ax }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}