{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'auth_ex/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>{% block title %}SODO{% endblock %}</title>
</head>
<body>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}  role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
            {% endfor %}
        {% endif %}

        <div class="row center">
            <h2>SODO</h2>
            <div class="col-md-6 col-md-offset-3">
                <form method="post" action="">{% csrf_token %}
                    <input type="text" name="username" placeholder="login"><br>
                    <input type="password" name="password" placeholder="hasło"><br>
                    <input type="submit" name="login" value="Zaloguj" class="btn btn-default">
                </form>
            </div>
        </div>
    </div>


</body>

</html>