{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'auth_ex/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>{% block title %}SODO{% endblock %}</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %}  class="alert alert-{{ message.tags }}" {% endif %}  role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="form-login" id="logowanie">
                <h1 id="naglowek">SODO</h1>
                <form method="post" action="">{% csrf_token %}
                    <input type="text" name="username" class="form-control input-sm chat-input" placeholder="login"><br>
                    <input type="password" name="password" class="form-control input-sm chat-input" placeholder="hasło"><br>
                    <div class="wrapper">
                        <span class="group-btn">
                            <input type="submit" name="login" value="Zaloguj" class="btn btn-primary btn-md"></a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>

</html>
