{% extends "wnioski/base_site/base_site.html" %}
{% load bootstrap_pagination %}

{% block title %}Lista{% endblock %}

{% block content %}

    <div class="row center-verticle-title">
        <div class="col-md-2">
            <span class="title">Lista wniosków</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading center clickable" id="filtr">Filtruj</div>
                <div class="panel-body" id="filtr-content" hidden>
                    <form method="post" action="">{% csrf_token %}
                        <div class="row">
                            <form action="" method="post">{% csrf_token %}
                                <div class="col-md-6">
                                    <input type="text" name="{{ form.obiekt.html_name }}" placeholder="Obiekt" {% if form.obiekt.value %}value="{{ form.obiekt.value }}"{% endif %}>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="{{ form.jednostka.html_name }}" placeholder="Szukaj jednostki" {% if form.jednostka.value %}value="{{ form.jednostka.value }}"{% endif %}>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="{{ form.pracownik.html_name }}" placeholder="Pracownik składający" {% if form.pracownik.value %}value="{{ form.pracownik.value }}"{% endif %}>
                                </div>
                                <div class="col-md-6">
                                    <input type="date" name="{{ form.data.html_name }}" {% if form.data.value %}value="{{ form.data.value }}"{% endif %}>
                                </div>
                                <div class="col-md-12">
                                    <select name="{{ form.uprawnienia.html_name }}">
                                        <option value="">Uprawnienia</option>
                                        {% for key, value in form.uprawnienia.field.choices %}
                                            <option value="{{ key }}" {% if form.uprawnienia.value == key %}selected{% endif %}>
                                                {{ value }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-12 center">
                                    <input type="submit" value="Filtruj" class="btn btn-primary">
                                    <input type="submit" name="clear" value="Wyczyść filtr" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% bootstrap_pager wnioski %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Pracownik składający</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Uprawnienia</th>
                    <th scope="col">Obiekty</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
                {% for wniosek in wnioski %}
                    <tr class="clickable-row" data-href="{% url 'labi_wniosek_detail' wniosek.id %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ wniosek.pracownik }}</td>
                        <td>{{ wniosek.get_typ_display }}</td>
                        <td>{{ wniosek.get_uprawnienia_display|truncatechars:"50" }}</td>
                        <td>{{ wniosek.get_obiekty|truncatechars:"40" }}</td>
                        <td>{{ wniosek.data }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="center">
            {% bootstrap_paginate wnioski range=10 show_prev_next="false" show_first_last="true" centered="true" %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
            $("#filtr").on("click", function(){
                $("#filtr-content").fadeToggle();
            });
        });
    </script>


{% endblock %}