{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <h2>hello {{ admin }}!</h2>
    </div>
    <div class="row">
        <h3>Wszystkie</h3>
        {% for wniosek in wnioski %}
            <p>{{ forloop.counter }}. {{ wniosek.obiekt.jedn_org }}</p>
        {% endfor %}
    </div>
    <div class="row">
        <h3>To approve</h3>
        {% for wniosek in to_approve %}
            <p>{{ wniosek }}</p>
        {% endfor %}
    </div>

</div>
{% endblock %}