{% extends 'wnioski/base/base.html' %}
{% block title %}ABI - panel{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <button class="btn btn-primary" id="return">Cofnij</button>
        </div>

        <div class="row">
            <h3>Dane szczegółowe wniosku <i><b>{{wniosek.prac_sklada}}</b></i></h3>
            <a target="_blank" class="btn btn-default" href="{% url 'gen_app_pdf' wniosek.pk %}">
                Generuj PDF dla wniosku <span class="glyphicon glyphicon-file"></span>
            </a>
            <a target="_blank" class="btn btn-default" href="{% url 'gen_app_raport_pdf' wniosek.pk %}">
                Generuj raport PDF dla wniosku <span class="glyphicon glyphicon-list-alt"></span>
            </a>
        </div>
        <hr>
        <div class="row">

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <label>Status wniosku: </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>{{ status }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <label>Typ wniosku: </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>{{ wniosek.get_typ_display }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <label>Data: </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>{{ wniosek.data }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <label>Pracownik składający: </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>{{ wniosek.pracownik }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <label>Pracownicy których dotyczy: </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="pracownicy">Pokaż pracowników</a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="panel panel-default">
                            {% for pracownik in wniosek.pracownicy.all %}
                                <p>{{ pracownik }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <label>Obiekty: </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseobiekty" role="button" aria-expanded="false" aria-controls="collapseobiekty">Pokaż obiekty</a>
                    </p>
                    <div class="collapse" id="collapseobiekty">
                        {% for obiekt in wniosek.obiekty.all %}
                            <p>{{ obiekt }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <p>


        <div class="row">
            <form action="{% url 'wniosek_detail' wniosek.pk %}" method="post">
                {% csrf_token %}
                <input name="change" type="submit" value="Zatwierdź" class="btn btn-success">
                <input name="change" type="submit" value="Odrzuć" class="btn btn-danger">
            </form>
        </div>

        <hr>
        {% if historia %}
            <div class="row">
                <h3>Historia wniosku</h3>
            </div>

            <div class="row table">
                <table class="table table-hover table-striped table-bordered">
                    <tr>
                        <th>Wniosek</th>
                        <th>Data zmiany</th>
                        <th>Status</th>
                    </tr>
                    {% for h in historia %}
                        <tr>
                            <td>{{ h.wniosek }}</td>
                            <td>{{ h.data|date:"d M Y, H i " }}</td>
                            <td>{{ h.get_status }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="row">
                <h3>Brak historii wniosku</h3>
            </div>
        {% endif %}

    </div>

    {% comment %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#pracownicy').on('click', function(){
                $('#pracownicy').hide();
                $('#collapseExample').show()
            });
            $('#collapseExample').on('click', function(){
                $('#pracownicy').show();
                $('#collapseExample').hide()
            });
        });
    </script>
    {% endcomment %}

    <script type="text/javascript">
        $(document).ready(function(){
            $("#return").click(function(){
                history.back(1);
            });
        });
    </script>

{% endblock %}