{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <h3>{{ user.username }} {{ user.nazwisko }} - dane szczegółowe</h3>
  </div>
  <hr>
  <div class="row">


    <div class="row">
    {{ user.get_full_name }}
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>Imię: </p>
      </div>
      <div class="col-md-4">
        {{ user.first_name }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>Nazwisko: </p>
      </div>
      <div class="col-md-4">
        {{ user.last_name }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>Email: </p>
      </div>
      <div class="col-md-4">
        {{ user.email }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>Grupy: </p>
      </div>
      <div class="col-md-4">
        {{ user.groups }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>user_permissions: </p>
      </div>
      <div class="col-md-4">
        {{ user.user_permissions }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>is_staff: </p>
      </div>
      <div class="col-md-4">
        {{ user.is_staff }}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <p>is_active: </p>
      </div>
      <div class="col-md-4">
        {{ user.is_active }}
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-2">
        <p>is_superuser: </p>
      </div>
      <div class="col-md-4">
        {{ user.is_superuser }}
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-2">
        <p>last_login: </p>
      </div>
      <div class="col-md-4">
        {{ user.last_login }}
      </div>
    </div>
  </div>
  
  <div class="row">
      <div class="col-md-2">
        <p>date_joined: </p>
      </div>
      <div class="col-md-4">
        {{ user.date_joined }}
      </div>
    </div>
  </div>

</div>
    
{% endblock %}
