{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <h3>{{ user.username }} - Twoje konto</h3>
  </div>
  <hr>
  <div class="row">

  <div>
    <h4>Strona w budowie</h4>
    {% if 0 == 1 %}
 	Do tych obiektów masz uprawnienia:
 	<br>
    {% for obiekt in obiekty %}
    <br>{{ obiekt.nazwa }} ({{ obiekt.opis }}) w jednostce organizacyjnej: {{ obiekt.jedn_org }}
    {% endfor %}
    {% endif %}
  </div>

</div>
    
{% endblock %}
