{% extends "abi_app/base_site/base_site.html" %}
{% load bootstrap_pagination static %}

{% block title %}Lista{% endblock %}

{% block content %}

    <div class="row center-verticle-title">
        <div class="col-md-3">
            <span class="title">Jednostki organizacyjne</span>
        </div>
        <span class="right">
            <a href="{% url 'abi_jednostka_create' %}" class="btn btn-default">Dodaj jednostkę</a>
        </span>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading center clickable" id="filtr">Filtruj</div>
                <div class="panel-body" id="filtr-content" hidden>
                    <form method="post" action="">{% csrf_token %}
                        <div class="row">
                            <form action="" method="post">{% csrf_token %}
                                <div class="col-md-6">
                                    <input type="text" name="{{ form.nazwa.html_name }}" placeholder="Nazwa" {% if form.nazwa.value %}value="{{ form.nazwa.value }}"{% endif %}>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="{{ form.parent.html_name }}" placeholder="Jednostka nadrzędna" {% if form.parent.value %}value="{{ form.parent.value }}"{% endif %}>
                                </div>
                                <div class="col-md-12 center">
                                    <input id="{{ form.czy_labi.html_name }}" type="checkbox" name="{{ form.czy_labi.html_name }}" {% if form.czy_labi.value %}value="{{ form.czy_labi.value }}"{% endif %}>
                                    <label for="{{ form.czy_labi.html_name }}">Czy posiada LABI</label>
                                </div>
                                <div class="col-md-12 center">
                                    <input type="submit" value="Filtruj" class="btn btn-primary">
                                    <input type="submit" name="clear" value="Wyczyść filtr" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% if paginacja %}

        {% bootstrap_pager jednostki %}
        {% endif %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Jednostka nadrzędna</th>
                    <th>Czy posiada LABI</th>
                </tr>
            </thead>
            <tbody>
                {% for jednostka in jednostki %}
                    <tr class="clickable-row" data-href="{% url 'abi_jednostka_detail' jednostka.id %}">
                        <td>{{ jednostka.id }}</td>
                        <td>{{ jednostka.nazwa }}</td>
                        <td>
                            {% if jednostka.parent %}
                                {{ jednostka.parent.nazwa }}
                            {% else %}
                                Brak
                            {% endif %}
                        </td>
                        <td>{% if jednostka.czy_labi %}Tak{% else %}Nie{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="center">
        {% if paginacja %}

            {% bootstrap_paginate jednostki range=10 show_prev_next="false" show_first_last="true" centered="true" %}
        {% endif %}
        </div>
    </div>

    <script type="text/javascript" src="{% static 'abi_app/script.js' %}"></script>

{% endblock %}