{% extends "abi_app/base_site/base_site.html" %}
{% load bootstrap_pagination %}

{% block title %}Pracownicy{% endblock %}

{% block content %}

    <div class="row center-verticle-title">
        <div class="col-md-2">
            <span class="title">Pracownicy</span>
        </div>
        <form method="post" action="">{% csrf_token %}
            <div class="col-md-2">
                <input type="text" name="search" placeholder="Szukaj po nazwisku" class="form-control">
            </div>
            <div class="col-md-1">
                <input type="submit" value="Szukaj" class="btn">
            </div>
            {% if search %}
                <div class="col-md-3">
                    <p>Wyszukiwana fraza: {{ search }}</p>
                </div>
            {% endif %}
        </form>
        <span class="right">
            <a href="{% url 'abi_pracownik_create' %}" class="btn btn-default">Dodaj pracownika</a>
            <a href="{% url 'abi_rodzaj_pracownik_create' %}" class="btn btn-default">Dodaj rodzaj pracownika</a>
        </span>
    </div>
    <div class="row">
        {% bootstrap_pager pracownicy %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Pracownik</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Rodzaj</th>
                    <th>Jednostka organizacyjna</th>
                    <th>Numer ax</th>
                </tr>
            </thead>
            <tbody>
                {% for pracownik in pracownicy %}
                    <tr class="clickable-row" data-href="{% url 'abi_pracownik_detail' pracownik.pk %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ pracownik }}</td>
                        <td>{{ pracownik.login }}</td>
                        <td>{{ pracownik.email }}</td>
                        <td>{{ pracownik.rodzaj }}</td>
                        <td>{{ pracownik.jedn_org }}</td>
                        <td>{{ pracownik.numer_ax }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="center">
            {% bootstrap_paginate pracownicy range=10 show_prev_next="false" show_first_last="true" centered="true" %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

    
{% endblock %}