{% extends "wnioski/base/base_ldap.html" %}

{% block title %}SODO{% endblock %}

{% block content %}

<div class="container login-box">
    <div>
        <div class="row">
            <h3>Logowanie LDAP</h3>
        </div>
        <hr>
        <form action="/ldap/auth" method="post">{% csrf_token %}
            <div class="row input-group">
                <span for="username" class="input-group-addon">Login</span>
                <input type="text" class="form-control" placeholder="nazwa użytkownika" name="username" value="" id="username" required>
            </div>
            </div>
            <div class="row button-login">
                <div class="">
                    <input type="submit" value="Zaloguj" class="btn btn-primary">
                    <a class="btn btn-default" href="/">Powrót</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
	<div class="row lista-userow">
		<div class="col-md-8 col-md-offset-2">
            <p><strong>TYMCZASOWE</strong></p>
            <p>Lista użytkowników:</p>
			<ol>
				{% for pracownik in pracownicy %}
					<li>{{ pracownik.login }} - {{ pracownik.rodzaj }}</li>
				{% endfor %}
			</ol>
		</div>
    </div>

</div>

        
{% endblock %}
