{% extends "wnioski/base/base_ldap.html" %}

{% block title %}SODO{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-6">
          <h2>Witaj, {{ user.login }}.</h3>
        </div>
        <div class="col-sm-6" style="padding-top:20px">
          <center>
            <a class="btn btn-primary" href="/ldap/logout">Wyloguj</a>
          </center>
        </div>
    </div>

    <button href="">Złóż wniosek</button>

    <div class="row">
        <h3>Złóż wniosek</h3>
	    <form action="/ldap/main" method="post">
	        {% csrf_token %}
	        <table>{{ form }}</table>
	        <input type="submit" value="dodaj" class="btn btn-primary">
	    </form>
	</div>

</div>

<hr>

<div class="container">

    <div class="row">
        <h2>Wnioski</h2>
        {% for wniosek in wnioski %}
            <p>{{ wniosek }}<p>
        {% endfor %}
    </div>
    <div class="row">
        <h3>Przyjęte</h3>

        {% for historia in przyjete %}
                <p><a href="/wniosek_view/{{ historia.wniosek.id }}">{{ historia.wniosek }}</a></p>
        {% endfor %}

    </div>
    <div class="row">
        <h3>Odrzucone</h3>

        {% for historia in odrzucone %}
            <p><a href="/wniosek_view/{{ historia.wniosek.id }}">{{ historia.wniosek }}</a></p>
        {% endfor %}

    </div>

    <div class="row">
        <h3>Przetwarzanie</h3>

        {% for historia in przetwarzane %}
                <p><a href="/wniosek_view/{{ historia.wniosek.id }}">{{ historia.wniosek }}</a></p>
        {% endfor %}

    </div>

</div>

{% endblock %}