{% extends "wnioski/base/base_ldap.html" %}

{% block title %}SODO{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-6">
          <h2>Witaj, {{ user.login }}.</h3>
        </div>
        <div class="col-sm-6" style="padding-top:20px">
          <center>
            <a class="btn btn-primary" href="/ldap/logout">Wyloguj</a>
          </center>
        </div>
    </div>


    
    <div class="row">
        <h3>Złóż wniosek</h3>
    </div>
    

	<div class="row col-md-offset-2">
	    <form action="/ldap/main" method="post">
	        {% csrf_token %}
	        <table>{{ form }}</table>
	        <input type="submit" value="dodaj" class="btn btn-primary">
	    </form>
	</div>

</div>

<hr>

<div class="container">

    <div class="row">
        <h3>Zatwierdzone wnioski</h3>
        <ol>
            {% for wniosek in wnioski %}
                <li>{{ wniosek }} - {{ wniosek.typ }}</li>
            {% endfor %}
        </ol>
    </div>

</div>

{% endblock %}