{% extends "wnioski/base/base_ldap.html" %}

{% block title %}SODO{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-6">
          <h2>Witaj, {{ user.login }}.</h3>
        </div>
        <div class="col-sm-6" style="padding-top:20px">
          <center>
            <a class="btn btn-primary" href="/ldap/logout">Wyloguj</a>
          </center>
        </div>
    </div>

    <hr>
    
    <div class="row">
        <h3>Złóż wniosek</h3>
    </div>
    
    <br>
    
	<div class="row col-md-offset-2">
		{% if message %}
			<p style="color: green;">{{ message }}</p>
		{% endif %}
	</div>

	<div class="row col-md-offset-2">
	    <form action="/ldap/main" method="post">
	        {% csrf_token %}
	        <table>{{ form }}</table>
	        <input type="submit" value="dodaj" class="btn btn-primary">
	    </form>
	</div>

  <hr>

  <div class="row">
    <a class="btn btn-primary" href="/ldap/obj_list">Lista obiektów</a>
  </div>
    
  <hr>
  
  <div class="row">
  <h3>Twoje wnioski</h3>
  <br>

  <div class="row table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <tr>
        <th>
          Wniosek
        </th>
        <th>
          Obiekt
        </th>
        <th>
          Typ
        </th>
      </tr>
      {% for wniosek in wnioski %}
      <tr>
        <td>
          <a href="/ldap/wniosek_view_ldap/{{wniosek.id}}">{{forloop.counter}}. {{wniosek}}</a>
        </td>
        <td>
          {{wniosek.obiekt}}
        </td>
        <td>
          {{wniosek.typ}}
        </td>
      </tr>
      {%endfor%}
    </table>
  </div>
</div>
    
    
    
</div>


{% endblock %}