{% extends "wnioski/base/base.html" %}

{% block title %}Wyszukiwanie{% endblock %}

{% block content %}


<div class="container">

  <div class="row">

	  <form action="/search" method="get">
	  	<div class="col-md-4">
	    	<input type="text" placeholder="nazwisko użytkownika" name="username" class="form-control">
	    </div>
	    <div class="col-md-1">
	    	<input type="submit" value="Szukaj" class="btn btn-primary">
	  	</div>
	  </form>

  </div>

  <div class="row">

      <p>{{ message }}</p>
  </div>

</div>

    
{% endblock %}