{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}


<div class="container">

  <div class="row">

	  <form action="/search" method="get">
	  	<div class="col-md-4">
	    	<input type="text" placeholder="nazwa użytkownika" name="username" class="form-control">
	    </div>
	    <div class="col-md-1">
	    	<input type="submit" value="Szukaj" class="btn btn-primary">
	  	</div>
	  </form>

  </div>

  <div class="row">

   <p>{{ message }}</p>

   <hr>

   {% for wniosek in wnioski %}
   	<table>{{ wniosek }}</table>
   {% endfor %}

  </div>

</div>

    
{% endblock %}