{% extends "wnioski/base/base.html" %}

{% block title %}SODO{% endblock %}

{% block content %}

<div class="container">
	<div class="row col-md-offset-2">
		<div class="row">
			<h3>Dodaj użytkownika</h3>
		</div>
	</div>

	<hr>
	<div class="row col-md-offset-2">
		{% if message %}
			<p style="color: green;">{{ message }}</p>
		{% endif %}
	</div>

	<div class="row col-md-offset-2">
	    <form action="/user_edit" method="post">
	        {% csrf_token %}
	        <div class="table">
	        	<table class="input-table">{{form}}</table>
	        </div>
	        <input type="submit" value="zapisz" class="btn btn-primary">
	    </form>
	</div>

</div>
        
{% endblock %}