{% extends "wnioski/base/base.html" %}

{% block title %}SODO{% endblock %}

{% block content %}

<div class="container">
	<div class="row col-md-offset-2">
		<div class="row">
			<h3>Edytuj użytkownika</h3>
		</div>
	</div>

	<hr>
	<div class="row col-md-offset-2">
		{% if message %}
			<p style="color: green;">{{ message }}</p>
		{% endif %}
	</div>

	<div class="row col-md-offset-2">

	    <form action="/user_edit/{{ user.id }}/" method="post">
	        {% csrf_token %}
	        <div class="table">
	        	<table class="input-table">{{form}}</table>
	        	{{form.error}}
	        </div>
	        <input type="submit" value="zapisz" class="btn btn-primary"> 
	        <a class="btn btn-primary" href="/user_view/{{ user.id }}">Powrót</a>
	    </form>
	    
	</div>

</div>
        
{% endblock %}