.padding-60 {
    padding-top: 60px;
}

.btn-link {
    color: black !important;
}

.non-under {
    text-decoration: none;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    cursor: pointer;
    background: #A9A9A9 !important;
    color: black !important;
}

.center {
	text-align: center;
}

.right {
    float: right;
}

.panel-heading {
    font-size: 23px;
}

.panel-body {
    font-size: 16px;
}