{% extends "wnioski/base_site/base_site.html" %}

{% block title %}Pracownicy{% endblock %}

{% block content %}

    <div class="row">
        <h3 class="left">Pracownicy</h3>
        <span class="right">
            <a href="{% url 'labi_pracownik_create' %}" class="btn btn-default">Dodaj pracownika</a>
            <a href="{% url 'labi_rodzaj_pracownik_create' %}" class="btn btn-default">Dodaj rodzaj pracownika</a>
        </span>
    </div>
    <div class="row">
        <form method="post" action="">{% csrf_token %}
            <div class="col-md-2">
                <input type="text" name="search" placeholder="Szukaj po nazwisku" class="form-control">
            </div>
            <div class="col-md-1">
                <input type="submit" value="Szukaj" class="btn">
            </div>
            {% if search %}
                <div class="col-md-3">
                    <p>Wyszukiwana fraza: {{ search }}</p>
                </div>
            {% endif %}
        </form>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Pracownik</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Rodzaj</th>
                    <th>Jednostka organizacyjna</th>
                    <th>Numer ax</th>
                </tr>
            </thead>
            <tbody>
                {% for pracownik in pracownicy %}
                    <tr class="clickable-row" data-href="{% url 'labi_pracownik_detail' pracownik.pk %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ pracownik }}</td>
                        <td>{{ pracownik.login }}</td>
                        <td>{{ pracownik.email }}</td>
                        <td>{{ pracownik.rodzaj }}</td>
                        <td>{{ pracownik.jedn_org }}</td>
                        <td>{{ pracownik.numer_ax }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if pracownicy.has_previous %}
                    <a href="?page={{ pracownicy.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ pracownicy.number }} of {{ pracownicy.paginator.num_pages }}.
                </span>

                {% if pracownicy.has_next %}
                    <a href="?page={{ pracownicy.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

    
{% endblock %}