{% extends "wnioski/base_site/base_site.html" %}
{% load bootstrap_pagination static %}

{% block title %}Pracownicy{% endblock %}

{% block content %}

    <div class="row center-verticle-title">
        <div class="col-md-2">
            <span class="title">Pracownicy</span>
        </div>
        <span class="right">
            <a href="{% url 'labi_pracownik_create' %}" class="btn btn-default">Dodaj pracownika</a>
            <a href="{% url 'labi_rodzaj_pracownik_create' %}" class="btn btn-default">Dodaj rodzaj pracownika</a>
        </span>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading center clickable" id="filtr">Filtruj</div>
                <div class="panel-body" id="filtr-content" hidden>
                    <form method="post" action="">{% csrf_token %}
                        <div class="row">
                            <form action="" method="post">{% csrf_token %}
                                <div class="col-md-6">
                                    <input type="text" name="{{ form.nazwisko.html_name }}" placeholder="Nazwisko" {% if form.nazwisko.value %}value="{{ form.nazwisko.value }}"{% endif %}>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="{{ form.jednostka.html_name }}" placeholder="Szukaj jednostki" {% if form.jednostka.value %}value="{{ form.jednostka.value }}"{% endif %}>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="{{ form.numer_ax.html_name }}" placeholder="Numer AX" {% if form.numer_ax.value %}value="{{ form.numer_ax.value }}"{% endif %}>
                                </div>
                                <div class="col-md-6">
                                    <select name="{{ form.rodzaj.html_name }}">
                                        <option value="">Rodzaj</option>
                                        {% for key, value in form.rodzaj.field.choices %}
                                            <option value="{{ key }}" {% if form.rodzaj.value == key %}selected{% endif %}>
                                                {{ value }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-12 center">
                                    <input type="submit" value="Filtruj" class="btn btn-primary">
                                    <input type="submit" name="clear" value="Wyczyść filtr" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% if paginacja %}
        {% bootstrap_pager pracownicy %}
        {% endif %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Pracownik</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Rodzaj</th>
                    <th>Jednostka organizacyjna</th>
                    <th>Numer ax</th>
                </tr>
            </thead>
            <tbody>
                {% for pracownik in pracownicy %}
                    <tr class="clickable-row" data-href="{% url 'labi_pracownik_detail' pracownik.pk %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ pracownik }}</td>
                        <td>{{ pracownik.login }}</td>
                        <td>{{ pracownik.email }}</td>
                        <td>{{ pracownik.rodzaj }}</td>
                        <td>{{ pracownik.jedn_org }}</td>
                        <td>{{ pracownik.numer_ax }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="center">
        {% if paginacja %}
            {% bootstrap_paginate pracownicy range=10 show_prev_next="false" show_first_last="true" centered="true" %}
        {% endif %}
        </div>
    </div>

    <script type="text/javascript" src="{% static 'wnioski/script.js' %}"></script>

{% endblock %}