{% extends 'user_app/base_site/base_site.html' %}
{% load bootstrap_pagination %}

{% block content %}

    <div class="row progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row">
        <h3>Wybierz pracowników</h3>
        <hr>
        <div class="col-md-4">
            <h4>I. Wybierz jednostkę</h4>
            <form method="post" action="">{% csrf_token %}
                <input type="text" name="szukaj-jednostki" placeholder="Szukaj jednostki">
                <input type="submit" value="Szukaj">
            </form>
            <form method="post" action="">{% csrf_token %}
                <div class="row">
                    <ol>
                        {% for jedn in jednostki %}
                            <li>
                                <form method="post" action="">{% csrf_token %}
                                    <input type="checkbox" name="show" value="True" checked hidden>
                                    <input type="text" value="{{ jedn.id }}" name="jednostka" hidden>
                                    <input class="{% if jedn.id == wybrana_jednostka.id %}lista-wybrany{% else %}lista-linkow{% endif %}" type="submit" value="{{ jedn }}">
                                </form>
                            </li>
                        {% endfor %}
                    </ol>
                <div class="center">
                    {% bootstrap_paginate jednostki range=3 show_prev_next="true" show_first_last="true" centered="true" %}
                </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h4>II. Wybierz pracowników</h4>
            <form method="post" action="">{% csrf_token %}
                <input type="text" name="szukaj-pracownika" placeholder="Szukaj pracownika">
                <input type="text" value="{{ wybrana_jednostka.id }}" name="wybrana-jednostka" hidden>
                <input type="submit" value="Szukaj"><br>
                <input type="checkbox" name="szukaj_wszedzie" value="True">
                <label>Wszędzie</label>
                {% if not wszedzie %}
                    <input class="btn-link" type="submit" name="dodaj_wszystkie" value="Dodaj wszystkie">
                {% endif %}
            </form>
            {% if prac_list %}
                <ol>
                    {% for prac in prac_list %}
                        <li>
                            <form method="post" action="">{% csrf_token %}
                                <input type="checkbox" name="add" value="True" checked hidden>
                                <input type="text" value="{{ prac.login }}" name="prac" hidden>
                                <input type="text" value="{{ wybrana_jednostka.id }}" name="jednostka" hidden>
                                <input class="{% if prac in prac_cart %}lista-wybrany disabled{% else %}lista-linkow{% endif %}" type="submit" value="{{ prac }}">
                            </form>
                        </li>
                    {% endfor %}
                </ol>
                <div class="center">
                    {% bootstrap_paginate prac_list range=3 show_prev_next="true" show_first_last="true" centered="true" %}
                </div>
            {% else %}
                <p>Nie ma pracowników w tej jednostce</p>
            {% endif %}
        </div>

        <div class="col-md-4">
            <h4>
                <span class="left">III. Wybrani pracownicy</span>
                <form method="post" action="">{% csrf_token %}
                    <input type="checkbox" name="clear" value="True" checked hidden>
                    <input type="text" value="{{ wybrana_jednostka.id }}" name="jednostka" hidden>
                    <input type="submit" class="przycisk-maly" value="Wyczyść">
                </form>
            </h4>
            <div class="clearfix"></div>
            <ol>
                {% if prac_cart %}
                    {% for prac in prac_cart %}
                        <li>
                            <form method="post" action="">{% csrf_token %}
                                <input type="text" value="{{ prac.login }}" name="prac" hidden>
                                <input type="checkbox" name="delete" value="True" checked hidden>
                                <input class="lista-linkow" type="submit" value="{{ prac }}">
                            </form>
                        </li>
                    {% endfor %}
                    <div class="center">
                        {% bootstrap_paginate prac_cart range=3 show_prev_next="true" show_first_last="true" centered="true" %}
                    </div>
                {% else %}
                    <p>Brak</p>
                {% endif %}
            </ol>
            </ol>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row center">
        <a class="btn btn-primary" href="{% url 'step_one' %}">Powrót</a>
        <a class="btn btn-primary {% if not prac_cart %}disabled{% endif %}" href="{% url 'step_three' %}">Dalej</a>
    </div>

{% endblock %}