{% extends 'user_app/base_site/base_site.html' %}

{% block content %}

	<div class="progress">
  		<div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	</div>

	<div class="row">
		{% for prac in cart.pracownicy.all %}
			<p>{{ prac }}</p>
		{% endfor %}
	</div>
	<div class="row">
		{% for prac in cart.obiekty.all %}
			<p>{{ prac }}</p>
		{% endfor %}
	</div>
	<div class="row">
		{% for prac in cart.uprawnienia %}
			<p>{{ prac }}</p>
		{% endfor %}
	</div>
	<div class="row">
		{{ cart.typ_wniosku }}
	</div>
    

{% endblock %}