{% extends 'user_app/base_site/base_site.html' %}

{% block content %}

    <div class="row progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row">
        <h3>Pracownicy</h3>
        <hr>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">1. Wybierz jednostkę</div>
                <div class="panel-body">
                    <form method="post" action="">{% csrf_token %}
                        <div class="row">
                            {% for jedn in jednostki %}
                                <form method="post" action="">{% csrf_token %}
                                    <input type="checkbox" name="show" value="True" checked hidden>
                                    <input type="text" value="{{ jedn.id }}" name="jednostka" hidden>
                                    <p>
                                        <input class="btn" type="submit" value="{{ jedn }}">
                                    </p>
                                </form>
                            {% endfor %}

                            <div class="pagination">
                                <span class="step-links">
                                    {% if jednostki.has_previous %}
                                        <a href="?page={{ jednostki.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ jednostki.number }} of {{ jednostki.paginator.num_pages }}.
                                    </span>

                                    {% if jednostki.has_next %}
                                        <a href="?page={{ jednostki.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">2. Wybierz pracowników</div>
                <div class="panel-body">
                    {% if prac_list %}
                        <form id="pracownik-search" action="" class="styled" method="post">
                            <fieldset>
                                <input type="text" class="text-input" id="pracownik-filter" placeholder="Szukaj...">
                            </fieldset>
                        </form>
                        {% for prac in prac_list %}
                            <form method="post" action="">{% csrf_token %}
                                <span class="pracownik-search-field">
                                    <input type="checkbox" name="add_prac" value="True" checked hidden>
                                    <input type="text" value="{{ prac.login }}" name="prac" hidden>
                                    <p>
                                        {{ prac }}
                                        <input class="btn btn-success" type="submit" value="Dodaj" {% if prac in prac_cart %}disabled{% endif %}>
                                    </p>
                                </span>
                            </form>
                        {% endfor %}
                    {% else %}
                        <p>Brak</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    3. Wybrani pracownicy
                    <form method="post" action="" class="right">{% csrf_token %}
                        <input type="checkbox" name="clear" value="True" checked hidden>
                        <input type="submit" class="btn btn-primary" value="Wyczyść">
                    </form>
                </div>
                <div class="panel-body prac-require">
                    <p hidden class="info">To pole jest wymagane</p>
                    {% for prac in prac_cart %}
                        <form method="post" action="">{% csrf_token %}
                            <input type="text" value="{{ prac.login }}" name="prac" hidden>
                            <input type="checkbox" name="delete_prac" value="True" checked hidden>
                            <p>
                                {{ prac }}
                                <input class="btn btn-warning" type="submit" value="Usuń">
                            </p>
                        </form>
                    {% empty %}
                        <p>Brak</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row center">
        <a class="btn btn-primary" href="{% url 'step_one' %}">Powrót</a>
        <a id="dalej" class="btn btn-primary" >Dalej</a>
    </div>


<script type="text/javascript">
    
$(document).ready(function(){
    $("#obiekt-filter").keyup(function(){
        var filter = $(this).val();
        $(".obiekt-search-field").each(function(){
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });

    $("#pracownik-filter").keyup(function(){
        var filter = $(this).val();
        $(".pracownik-search-field").each(function(){
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });

    $("#jednostka-filter").keyup(function(){
        var filter = $(this).val();
        $(".jednostka-search-field").each(function(){
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });

    var prac_ok = false;
    $( "#dalej" ).on( "click", function() {
        if($( "#prac-require" ).text().indexOf("Brak") >= 0){
            $('.info').show()
        } else {
            prac_ok = true;
        }

        if(prac_ok){
            window.location.href = "{% url 'step_three' %}";
        }
    });


});

</script>

{% endblock %}