{% extends 'user_app/base_site/base_site.html' %}

{% block content %}

    <div class="row progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row">
        <h3>Wybierz obiekty</h3>
        <hr>
    	<div class="col-md-4">
            <h4>I. Wybierz jednostkę</h4>
            <form method="post" action="">{% csrf_token %}
                <div class="row">
                    <ol>
                        {% for jedn in jednostki %}
                            <li>
                                <form method="post" action="">{% csrf_token %}
                                    <input type="checkbox" name="show" value="True" checked hidden>
                                    <input type="text" value="{{ jedn.id }}" name="jednostka" hidden>
                                    <input class="{% if jedn.id == wybrana_jednostka.id %}lista-wybrany{% else %}lista-linkow{% endif %}" type="submit" value="{{ jedn }}">
                                </form>
                            </li>
                        {% endfor %}
                    </ol>
                    <div class="pagination">
                        <span class="step-links">
                            {% if jednostki.has_previous %}
                                <a href="?page={{ jednostki.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ jednostki.number }} of {{ jednostki.paginator.num_pages }}.
                            </span>

                            {% if jednostki.has_next %}
                                <a href="?page={{ jednostki.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </form>
    	</div>
        <div class="col-md-4">
            <div>
                <h4 class="left">II. Wybierz obiekt</h4>
                <form id="obiekt-search" action="" class="left" method="post">
                    <fieldset>
                        <input type="text" class="text-input" id="obiekt-filter" placeholder="Szukaj obiektu...">
                    </fieldset>
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                {% if obj_list %}
                    <ol>
                        {% for obj in obj_list %}
                            <form method="post" action="">{% csrf_token %}
                                <span class="obiekt-search-field">
                                    <li>
                                        <span hidden>{{ obj.nazwa }}</span>
                                        <input type="checkbox" name="add" value="True" checked hidden>
                                        <input type="text" value="{{ obj.id }}" name="obj" hidden>
                                        <input type="text" value="{{ wybrana_jednostka.id }}" name="jednostka" hidden>
                                        <input class="{% if obj in objs_cart %}lista-wybrany disabled{% else %}lista-linkow{% endif %}" type="submit" value="{{ obj }}">
                                    </li>
                                </span>
                            </form>
                        {% endfor %}
                    </ol>
                    <div class="pagination">
                        <span class="step-links">
                            {% if obj_list.has_previous %}
                                <a href="?page_obiekt={{ obj_list.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ obj_list.number }} of {{ obj_list.paginator.num_pages }}.
                            </span>

                            {% if obj_list.has_next %}
                                <a href="?page_obiekt={{ obj_list.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% else%}
                    <p>Nie ma przypisanych obiektów do tej jednostki</p>
                {% endif %}
            </div>
        </div>
    	
    	<div class="col-md-4">
        	<h4>
                <span class="left">III. Wybrane obiekty</span>
            	<form method="post" action="" class="">{% csrf_token %}
		            <input type="checkbox" name="clear" value="True" checked hidden>
		            <input type="submit" class="przycisk-maly" value="Wyczyść">
		        </form>
            </h4>
            <div class="clearfix"></div>
            <ol>
        		{% for obj in objs_cart %}
                    <li>
         				<form method="post" action="">{% csrf_token %}
        					<input type="text" value="{{ obj.id }}" name="obj" hidden>
        					<input type="checkbox" name="delete" value="True" checked hidden>
        					<input class="lista-linkow" type="submit" value="{{ obj }}">
        				</form>
                    </li>
                {% empty %}
     			    <p>Brak</p>
                {% endfor %}
            </ol>
    	</div>
    </div>

    <div class="clearfix"></div>

    <div class="row center">
		<a class="btn btn-primary" href="{% url 'user_index' %}">Anuluj</a>
		<a id="dalej" class="btn btn-primary" {% if not objs_cart %}disabled{% endif %}>Dalej</a>
    </div>


<script type="text/javascript">
    
$(document).ready(function(){
    $("#obiekt-filter").keyup(function(){
        var filter = $(this).val();
        $(".obiekt-search-field").each(function(){
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });

    $("#pracownik-filter").keyup(function(){
        var filter = $(this).val();
        $(".pracownik-search-field").each(function(){
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });

    $("#jednostka-filter").keyup(function(){
        var filter = $(this).val();
        $(".jednostka-search-field").each(function(){
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });
});

</script>

{% endblock %}