{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'wnioski/style.css' %}" />
      
    <title>{% block title %}SODO{% endblock %}</title>
</head>
<body>

  <div class="container menu">
    {% block nav %}
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="/acc/loggedin/">SODO</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/add">Dodaj wniosek</a></li>
              <li><a href="/acc/create_user">Dodaj użytkownika</a></li>
              <li><a href="/list">Lista</a></li>
              <li><a href="/search">Wyszukaj</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/user_account/">Twoje konto</a></li>
              <li><a href="/acc/logout/">Wyloguj</a></li>
            </ul>
        </div>
      </nav>
    {% endblock %}
  </div>

  <div id="row" class="container content">
      <div class="row">
            {% block content %}{% endblock %}
      </div>
  </div>

</body>

</html>
