{% extends "wnioski/base/base2.html" %}

{% block title %}SODO{% endblock %}

{% block content %}

<div class="container">
	<div class="login-box">

		<div class="row">
			<h3>SODO</h3>
		</div>

		<div class="input-group row">
			<form action="/acc/authentication" method="post">{% csrf_token %}
				<div class="row input-group">
					<label for="username" class="input-group-addon">Login</label>
					<input type="text" class="form-control" placeholder="nazwa użytkownika" name="username" value="" id="username">
				</div>
				<div class="row input-group">
					<label for="username" class="input-group-addon">Hasło</label>
					<input type="password" class="form-control" placeholder="hasło" name="password" id="password">
				</div>

				<div class="row button-login">
					<input type="submit" value="Zaloguj" class="btn btn-primary">
				</div>

			</form>
            
            <div>
                <a class="btn btn-default" href="/ldap/login">Złóż wniosek</a>
            </div>
            
		</div>
	</div>
</div>

    
{% endblock %}