
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>SODO</title>
</head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="add">Dodaj</a></li>
            
          </ul>
        </nav>
        <h3 class="text-muted">SODO</h3>
      </div>

      <div class="row marketing">

        <div class="col-md-4">
          <h3>Lista użytkowników</h3>
          {% for pracownik in pracownik %}
            <p>{{ pracownik }}</p>
          {% endfor %}
        </div>

        <div class="col-md-4">
        <h3>Lista obiektów</h3>
          {% for obiekt in obiekt %}
            <p>{{ obiekt.nazwa }}</p>
          {%endfor%}
        </div>

        <div class="col-md-4">
        <h3>Lista wniosków</h3>
          {% for wniosek in wniosek %}
            <p>{{ wniosek }} {{ forloop.counter }}</p>
          {%endfor%}
        </div>


    </div>
  </body>
</html>
