{% extends "wnioski/base.html" %}

{% block title %}SODO{% endblock %}

{% block content %}


<div class="container input-group">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<h3>Logowanie</h3>
		</div>
	</div>
	<hr>
	<form action="/acc/authentication/" method="post">
		{% csrf_token %}
		<label for="username">Login</label>
		<input type="text" placeholder="nazwa użytkownika" name="username" value="" id="username">
		<label for="username">Hasło</label>
		<input type="password" placeholder="hasło" id="password">
		<input type="submit" value="Zaloguj" class="btn btn-primary">
	</form>
</div>

{% endblock %}
