{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3><strong>{{ jednostka.opis }}</strong></h3>
            <a class="btn btn-primary" href="/jednostka_edit/{{ jednostka.id }}">
                Edytuj <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table">
                <tr>
                    <th>Jednostka</th>
                    <td>{{ jednostka }}</td>
                </tr>
                <tr>
                    <th>Jednostka nadrzędna</th>
                    <td>{% if jednostka.parent %}{{ jednostka.parent }}{% else %}Brak{% endif %}</td>
                </tr>
                <tr>
                    <th>Czy może być LABI</th>
                    <td>{% if jednostka.czy_labi %}Tak{% else %}Nie{% endif %}</td>
                </tr>
                <tr>
                    <th>LABI</th>
                    <td>{{ labi }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-7"></div>

    </div>

{% endblock %}