{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <h3>Witaj {{user}}</h3>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-6">
      <h3>Lista użytkowników</h3>
      {% for pracownik in pracownicy %}
        <p><a href="/user_view/{{ pracownik.id }}">{{ forloop.counter }}. {{ pracownik }}</a></p>
      {% endfor %}
    </div>

    <div class="col-md-6">
      <h3>Obiekty:</h3>
      {% for obiekt in obiekt %}
        <p><a href="/obj_view/{{ obiekt.id }}">{{ forloop.counter }}. {{ obiekt }}</a></p>
      {%endfor%}
    </div>

  </div>

  <div class="row">

    <div>
      <h3>Lista najnowszych wniosków</h3>
      {% for wniosek in wniosek %}
        <p><a href="/wniosek_view/{{ wniosek.id }}">{{ forloop.counter }}. {{ wniosek }}</a></p>
      {%endfor%}
    </div>
    
  </div>

    
{% endblock %}