{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <h3><b>{{ typ_obiektu }}</b> - dane szczegółowe</h3>
    <a class="btn btn-primary" href="/typ_obiektu_edit/{{ typ_obiektu.id }}">
      Edytuj <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>
  <hr>
  <div class="row">

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <label>Nazwa: </label>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>{{ typ_obiektu.nazwa }}</p>
      </div>
    </div>

</div>
    
{% endblock %}