{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <h3>Dane szczegółowe wniosku {{wniosek.prac_sklada}}</h3>
  </div>
  <hr>
  <div class="row">

    <div class="row">
      <div class="col-md-2">
        <p>Typ wniosku: </p>
      </div>
      <div class="col-md-4">
        {{ wniosek.typ }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>Data złożenia: </p>
      </div>
      <div class="col-md-4">
        {{ wniosek.data_zlo }}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <p>Pracownik składający: </p>
      </div>
      <div class="col-md-4">
        {{ wniosek.prac_sklada }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>Pracownik którego dotyczy: </p>
      </div>
      <div class="col-md-4">
        {{ wniosek.prac_dot }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p>Obiekt: </p>
      </div>
      <div class="col-md-4">
        {{ wniosek.obiekt }}
      </div>
    </div>
  </div>

  <hr>
  {% if historia is not None %}
  <div class="row">
    <h3>Historia wniosku</h3>
  </div>

  <div class="row table">
    <table class="table table-hover table-striped table-bordered">
      <tr>
        <th>
          Wniosek
        </th>
        <th>
          Status
        </th>
      </tr>
      <tr>
        <td>
          {{historia.wniosek}}
        </td>
        <td>
          {{historia.status}}
        </td>
      </tr>
    </table>
  </div>
  {% elif historia is None %}
  <div class="row">
  <h3>Brak hisotrii wniosku</h3>
  </div>
  {% endif %}

</div>
    
{% endblock %}