{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <h3>Przyjęte</h3>

        {% for historia in przyjete %}
                <p><a href="/wniosek_view/{{ historia.wniosek.id }}">{{ historia.wniosek }}</a></p>
        {% endfor %}

    </div>
    <div class="row">
        <h3>Odrzucone</h3>

        {% for historia in odrzucone %}
            <p><a href="/wniosek_view/{{ historia.wniosek.id }}">{{ historia.wniosek }}</a></p>
        {% endfor %}

    </div>

    <div class="row">
        <h3>Do weryfikacji</h3>

        {% for historia in przetwarzane %}
                <p><a href="/wniosek_view/{{ historia.wniosek.id }}">{{ historia.wniosek }}</a></p>
        {% endfor %}

    </div>
{% endblock %}