{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <h3>Przyjęte</h3>

        {% for historia in przyjete %}
            {% if historia.status.nazwa == 'Przyjęty' %}
                <p><a href="/wniosek_view/{{ historia.wniosek.id }}">{{ historia.wniosek }}</a></p>
            {% endif %}
        {% endfor %}

    </div>
    <div class="row">
        <h3>Odrzucone</h3>

        {% for historia in odrzucone %}
            {% if historia.status.nazwa == 'Odrzucony' %}
                <p><a href="/wniosek_view/{{ historia.wniosek.id }}">{{ historia.wniosek }}</a></p>
            {% endif %}
        {% endfor %}

    </div>

    <div class="row">
        <h3>Przetwarzanie</h3>

        {% for historia in przetwarzane %}
            {% if historia.status.nazwa == 'Przetwarzanie' %}
                <p><a href="/wniosek_view/{{ historia.wniosek.id }}">{{ historia.wniosek }}</a></p>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}