{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <h3>Dane szczegółowe wniosku <i><b>{{wniosek.prac_sklada}}</b></i></h3>
    <a class="btn btn-primary" href="/app_edit/{{ wniosek.id }}">
      Edytuj <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a class="btn btn-primary" href="/wnioski">
      Powrót
    </a>
  </div>
  <hr>
  <div class="row">

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <label>Typ wniosku: </label>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>{{ wniosek.typ }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <label>Data złożenia: </label>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>{{ wniosek.data_zlo }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <label>Pracownik składający: </label>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>{{ wniosek.prac_sklada }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <label>Pracownik którego dotyczy: </label>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>{{ wniosek.prac_dot }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <label>Obiekt: </label>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>{{ wniosek.obiekt }}</p>
      </div>
    </div>
  </div>

  <hr>
  <!-- Dodać if jeżeli nie ma historii -->
  <div class="row">
    <a class="btn btn-success">Zatwierdź</a>
    <a class="btn btn-warning">Wstrzymaj</a>
    <a class="btn btn-danger">Odrzuć</a>
  </div>

  <hr>
  {% if historia is not None %}
  <div class="row">
    <h3>Historia wniosku</h3>
  </div>

  <div class="row table">
    <table class="table table-hover table-striped table-bordered">
      <tr>
        <th>
          Wniosek
        </th>
        <th>
          Status
        </th>
      </tr>
      <tr>
        <td>
          {{historia.wniosek}}
        </td>
        <td>
          {{historia.status}}
        </td>
      </tr>
    </table>
  </div>
  {% elif historia is None %}
  <div class="row">
  <h3>Brak hisotrii wniosku</h3>
  </div>
  {% endif %}

</div>
    
{% endblock %}