{% extends "wnioski/base/base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <h3>Wnioski</h3>
  </div>

  <hr>

  <div class="row table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <tr>
        <th>
          Wniosek
        </th>
      </tr>
      {% for wniosek in wnioski %}
      <tr>
        <td>
            {% if statusy_wnioskow|get_item:wniosek.id == 4 %}
            <a style="color: orange;" href="/wniosek_view/{{ wniosek.id }}">{{ forloop.counter }}. WSTRZYMANY {{ wniosek }}</a>
            {% elif statusy_wnioskow|get_item:wniosek.id == 5 %}
            <a style="color: green;" href="/wniosek_view/{{ wniosek.id }}">{{ forloop.counter }}. ZATWIERDZONY {{ wniosek }}</a>
            {% elif statusy_wnioskow|get_item:wniosek.id == 6 %}
            <a style="color: red;" href="/wniosek_view/{{ wniosek.id }}">{{ forloop.counter }}. ODRZUCONY {{ wniosek }}</a>
            {% else %}
            <a href="/wniosek_view/{{ wniosek.id }}">{{ forloop.counter }}. {{ wniosek }}</a>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

    
{% endblock %}
